@media only screen and (max-width: 320px) {
    /* For mobile phones: */
  body{
      width:100%;
  }
    .w-100{
      width:100%;
  }
  
.center {
    margin-right: auto;
    margin-left: auto;
    height:100px;
}
.mw9 {
    max-width: 96rem;
    display: flex;
    align-items: center;
}
  }